/* src/Carousel.css */
.scroller {
    max-width: 100vw;
    overflow: hidden;
  }
  
  .scroller_inner {
    display: flex;
    gap: 4rem;
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
  }
  
  .scroller_inner img {
    max-width: 100px; /* Adjust as necessary */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  