.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #171717;
    height: 100px;
    z-index: 1000; /* Ensure the navbar appears above other content */
}

.left {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: auto;
    width: auto;
    max-width: 190px; /* Adjust as needed */
    max-height: 120px; /* Adjust as needed */
}

.elements {
    margin-left: 20px;
    cursor: pointer;
}

.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    color: white;
    transition: color 0.3s ease; /* Smooth transition effect for color change */
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

/* Add hover effect */
.dropdown li:hover {
    color: yellow; /* Change the color on hover */
    border-radius: 30px;
    transform: scaleX(1.2);
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

/* Add transition properties */
.dropdowns {
    position: fixed;
    top: 100px; /* Adjust the top position to align with the bottom of the navbar */
    left: 20px; /* Adjust the left position as needed */
    z-index: 999; /* Ensure the dropdown appears above other content */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    background-color: rgba(23, 23, 23, 0.9);
    border-radius: 10px;
    width: auto;
}

.dropdowns.show {
    opacity: 1;
    visibility: visible;
}

.dropdowns {
    opacity: 0;
    visibility: hidden;
}

.logo:hover {
    transform: scale(1.16);
    transition: transform 0.2s ease;
}

.elements:hover {
    transform: scale(1.16);
    transition: transform 0.2s ease;
}

/* Responsive styles for tablets */
@media (max-width: 1325px) {
    .dropdowns {
        width: 45vw; /* Adjust the width for tablet view */
        left: 10px; /* Adjust the left position as needed */
        top: 80px; /* Adjust the top position as needed */
    }

    .dropdown li {
        width: 100%; /* Make the dropdown items full width */
        padding: 15px; /* Increase padding for better touch targets */
    }
}

@media (max-width: 768px) {
    .dropdowns {
        width: 55vw; /* Adjust the width for tablet view */
        left: 10px; /* Adjust the left position as needed */
        top: 80px; /* Adjust the top position as needed */
    }

    .dropdown li {
        width: 100%; /* Make the dropdown items full width */
        padding: 15px; /* Increase padding for better touch targets */
    }
}

/* Responsive styles for mobile phones */
@media (max-width: 480px) {
    .dropdowns {
        width: 90vw; /* Adjust the width for mobile view */
        /* Adjust the left position as needed */
        top: 100px; /* Adjust the top position as needed */
    }

    .dropdown li {
        width: 100%; /* Make the dropdown items full width */
        padding: 1px; /* Increase padding for better touch targets */
    }
}